// 1. Global Styles
// 2. Typography Styles
// 3. Structural Styles
// 4. Module Styles
// 5. Component Styles
// 6. Page Styles

// 1. Global Styles
* {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}



// 2. Typography Styles

// 3. Structural Styles


// 4. Module Styles
.logo {
  height: 50px;
  margin: 10px;
}

#header {
  height: 69px;
  border-bottom: 1px solid seashell;
}

.background {
  width: auto;
  height: 700px;
}

.section {
}

img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.location {
  width: auto;
  height: 500px;
}

// 5. Component Styles

// 6. Page Styles